@charset "UTF-8";

:root {
    /* Lamborghini */
    --imagem-lamborghini: url(../imagens/carros/imagem-lamborghini.jpg);
    --icone-lamborghini: url(../imagens/icones/icone-lamborghini-70.webp);

    /* Mercedes */
    --imagem-mercedes: url(../imagens/carros/imagem-mercedes.jpg);
    --icone-mercedes: url(../imagens/icones/icone-mercedes-70.png);

    /* Aston Martin */
    --imagem-astonMartin: url(../imagens/carros/imagem-aston-martin.jpg);
    --icone-astonMartin: url(../imagens/icones/icone-aston-martin-novo-4.png);

    /* McLaren */
    --imagem-mcLaren: url(../imagens/carros/imagem-mclaren.jpeg);
    --icone-mcLaren: url(../imagens/icones/icone-mclaren-70.png);

    /* Koenigsegg */
    --imagem-koenigsegg: url(../imagens/carros/imagem-koenigsegg.jpg);
    --icone-koenigsegg: url(../imagens/icones/icone-koenigsegg-70.png);

    /* Pagani */
    --imagem-pagani: url(../imagens/carros/imagem-pagani.jpg);
    --icone-pagani: url(../imagens/icones/icone-pagani-70.png);
}


/* Lamborghini */
section#lamborghini div {
    background-image: var(--imagem-lamborghini);
}
section#lamborghini h1 {
    padding-left: 10%;
}
section#lamborghini h1::before {
    content: var(--icone-lamborghini);
}


/* Mercedes */
section#mercedes div {
    background-image: var(--imagem-mercedes);
}
section#mercedes h1 {
    padding-left: 6%;
}
section#mercedes h1::before {
    content: var(--icone-mercedes);
}


/* Aston Martin */
section#astonMartin div {
    background-image: var(--imagem-astonMartin);
}
section#astonMartin h1 {
    padding-left: 6%;
}
section#astonMartin h1::before {
    content: var(--icone-astonMartin);
}


/* McLaren */
section#mcLaren div {
    background-image: var(--imagem-mcLaren);
}
section#mcLaren h1 {
    padding-left: 8%;
}
section#mcLaren h1::before {
    content: var(--icone-mcLaren);
    margin-top: -8px;
    margin-left: -125px;
}


/* Koenigsegg */
section#koenigsegg div {
    background-image: var(--imagem-koenigsegg);
}
section#koenigsegg h1 {
    padding-left: 8%;
}
section#koenigsegg h1::before {
    content: var(--icone-koenigsegg);
    margin-top: -8px;
    margin-left: -80px;
}


/* Pagani */
section#pagani div {
    background-image: var(--imagem-pagani);
}
section#pagani h1 {
    padding-left: 8%;
}
section#pagani h1::before {
    content: var(--icone-pagani);
    margin-top: -8px;
    margin-left: -80px;
}