@charset "UTF-8";

:root {
    /* Lamborghini */
    --imagem-lamborghini: url(../imagens/carros/imagem-lamborghini.jpg);
    --icone-lamborghini: url(../imagens/icones/icone-lamborghini-70.webp);

    /* Mercedes */
    --imagem-mercedes: url(../imagens/carros/imagem-mercedes.jpg);
    --icone-mercedes: url(../imagens/icones/icone-mercedes-70.png);

    /* Aston Martin */
    --imagem-astonMartin: url(../imagens/carros/imagem-aston-martin.jpg);
    --icone-astonMartin: url(../imagens/icones/icone-aston-martin-novo-4.png);

    /* McLaren */
    --imagem-mcLaren: url(../imagens/carros/imagem-mclaren.jpeg);
    --icone-mcLaren: url(../imagens/icones/icone-mclaren-70.png);

    /* Koenigsegg */
    --imagem-koenigsegg: url(../imagens/carros/imagem-koenigsegg.jpg);
    --icone-koenigsegg: url(../imagens/icones/icone-koenigsegg-70.png);

    /* Pagani */
    --imagem-pagani: url(../imagens/carros/imagem-pagani.jpg);
    --icone-pagani: url(../imagens/icones/icone-pagani-70.png);

    /* Bugatti */
    --imagem-bugatti: url(../imagens/carros/imagem-bugatti.jpg);
    --icone-bugatti: url(../imagens/icones/icone-bugatti-70.png);

    /* Ferrari */
    --imagem-ferrari: url(../imagens/carros/imagem-ferrari.jpg);
    --icone-ferrari: url(../imagens/icones/icone-ferrari-70.png);

    /* Bentley */
    --imagem-bentley: url(../imagens/carros/imagem-bentley.jpg);
    --icone-bentley: url(../imagens/icones/icone-bentley-70.webp);

    /* Rolls-Royce */
    --imagem-rollsRoyce: url(../imagens/carros/imagem-rolls-royce.jpg);
    --icone-rollsRoyce: url(../imagens/icones/icone-rolls-royce-70.webp);
}


/* Lamborghini */
a#linkLamborghini {
    background-image: var(--icone-lamborghini);
}
section#lamborghini div {
    background-image: var(--imagem-lamborghini);
}
section#lamborghini h1 {
    padding-left: 10%;
}
section#lamborghini h1::before {
    content: var(--icone-lamborghini);
}


/* Mercedes */
a#linkMercedes {
    background-image: var(--icone-mercedes);
}
section#mercedes div {
    background-image: var(--imagem-mercedes);
}
section#mercedes h1 {
    padding-left: 6%;
}
section#mercedes h1::before {
    content: var(--icone-mercedes);
}


/* Aston Martin */
a#linkAstonMartin {
    background-image: var(--icone-astonMartin);
}
section#astonMartin div {
    background-image: var(--imagem-astonMartin);
}
section#astonMartin h1 {
    padding-left: 6%;
}
section#astonMartin h1::before {
    content: var(--icone-astonMartin);
}


/* McLaren */
a#linkMcLaren {
    background-image: var(--icone-mcLaren);
}
section#mcLaren div {
    background-image: var(--imagem-mcLaren);
}
section#mcLaren h1 {
    padding-left: 8%;
}
section#mcLaren h1::before {
    content: var(--icone-mcLaren);
    margin-top: -8px;
    margin-left: -125px;
}


/* Koenigsegg */
a#linkKoenigsegg {
    background-image: var(--icone-koenigsegg);
}
section#koenigsegg div {
    background-image: var(--imagem-koenigsegg);
}
section#koenigsegg h1 {
    padding-left: 8%;
}
section#koenigsegg h1::before {
    content: var(--icone-koenigsegg);
    margin-top: -8px;
    margin-left: -80px;
}


/* Pagani */
a#linkPagani {
    background-image: var(--icone-pagani);
}
section#pagani div {
    background-image: var(--imagem-pagani);
}
section#pagani h1 {
    padding-left: 8%;
}
section#pagani h1::before {
    content: var(--icone-pagani);
    margin-top: -8px;
    margin-left: -80px;
}


/* Bugatti */
a#linkBugatti {
    background-image: var(--icone-bugatti);
}
section#bugatti div {
    background-image: var(--imagem-bugatti);
}
section#bugatti h1 {
    padding-left: 8%;
}
section#bugatti h1::before {
    content: var(--icone-bugatti);
    margin-top: -8px;
    margin-left: -80px;
}


/* Ferrari */
a#linkFerrari {
    background-image: var(--icone-ferrari);
}
section#ferrari div {
    background-image: var(--imagem-ferrari);
}
section#ferrari h1 {
    padding-left: 8%;
}
section#ferrari h1::before {
    content: var(--icone-ferrari);
    margin-top: -8px;
    margin-left: -80px;
}


/* Bentley */
a#linkBentley {
    background-image: var(--icone-bentley);
}
section#bentley div {
    background-image: var(--imagem-bentley);
}
section#bentley h1 {
    padding-left: 8%;
}
section#bentley h1::before {
    content: var(--icone-bentley);
    margin-top: -8px;
    margin-left: -80px;
}


/* Rolls-Royce */
a#linkRollsRoyce {
    background-image: var(--icone-rollsRoyce);
}
section#rollsRoyce div {
    background-image: var(--imagem-rollsRoyce);
}
section#rollsRoyce h1 {
    padding-left: 8%;
}
section#rollsRoyce h1::before {
    content: var(--icone-rollsRoyce);
    margin-top: -8px;
    margin-left: -80px;
}