@charset "UTF-8";

:root {
    /* Lamborghini */
    --imagem-lamborghini: url(../imagens/carros/imagem-lamborghini.jpg);
    --icone-lamborghini: url(../imagens/icones/icone-lamborghini-70.webp);

    /* Mercedes */
    --imagem-mercedes: url(../imagens/carros/imagem-mercedes.jpg);
    --icone-mercedes: url(../imagens/icones/icone-mercedes-70.png);

    /* Aston Martin */
    --imagem-astonMartin: url(../imagens/carros/imagem-aston-martin.jpg);
    --icone-astonMartin: url(../imagens/icones/icone-aston-martin-novo-4.png);
}


/* Lamborghini */
section#lamborghini div {
    background-image: var(--imagem-lamborghini);
}
section#lamborghini h1 {
    padding-left: 10%;
}
section#lamborghini h1::before {
    content: var(--icone-lamborghini);
}


/* Mercedes */
section#mercedes div {
    background-image: var(--imagem-mercedes);
}
section#mercedes h1 {
    padding-left: 6%;
}
section#mercedes h1::before {
    content: var(--icone-mercedes);
}


/* Aston Martin */
section#astonMartin div {
    background-image: var(--imagem-astonMartin);
}
section#astonMartin h1 {
    padding-left: 6%;
}
section#astonMartin h1::before {
    content: var(--icone-astonMartin);
}