@charset "UTF-8";

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: fonteTitulo;
    src: url(../fontes/SonsieOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #590313;
    --cor2: #8C0821;
    --cor3: #F2C2CF;
    --cor4: #260101;
    --cor5: #0D0D0D;

    --sr-Peppino: url(../imagens/imagem-pepino-160.png);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor5);
}

header {
    position: relative;
    background-color: var(--cor2);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.495);
}

header > h1 {
    font-family: fonteTitulo, sans-serif;
    color: var(--cor5);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.332);
    font-size: 2.7em;
    text-align: center;
    padding: 30px 10px 60px 10px;
    margin-bottom: 10px;
}

header > div#srPeppino {
    height: 110px;
    transition: height 3s ease;
}

header > div#srPeppino > img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 230px;
    left: 50%;
    animation: aparecer 3s ease forwards;
    opacity: 0;
}

header > p {
    width: 85vw;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
}

header > p > strong {
    color: var(--cor3);
    text-shadow: 1px 1px 3px var(--cor4);
}

@media screen and (min-width: 810px) {
    header > div#srPeppino > img {
        display: none;
    }

    header > h1::after {
        position: absolute;
        content: var(--sr-Peppino);
        top: 3%;
        animation: aparecer 3s ease forwards;
        padding-left: 5px;
    }   

    header > div#srPeppino {
        transition: 3s;
        height: 0;
    }
}

menu > a, span#burger {
    display: block;
    width: 100%;
    color: white;
    background-color: var(--cor1);
    text-align: center;
    text-decoration: none;
    padding: 6px;
    border: 2px solid var(--cor4);
    border-bottom: 1px;
}

menu > a:hover {
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor3);
}

abbr {
    text-decoration: none;
}

span#burger {
    background-color: var(--cor4);
}

span:active#burger {
    color: var(--cor4);
    background-color: var(--cor3);
}

main {
    max-width: 850px ;
    background-color: var(--cor3);
    margin: auto;
}

article#apresentacao {
    background-color: var(--cor3);
    padding: 20px 0 40px;
}

article#apresentacao > p {
    font-size: 1.05em;
    font-weight: 300;
    color: black;
    text-indent: 20px;
    text-align: justify;
    padding: 15px;
}

article#apresentacao strong {
    text-decoration: underline;
}

div.imagem-carro {
    background: var(--cor5) none center no-repeat fixed;
    background-size: 100%;
    padding: 23% 0%;
}

@media screen and (min-width: 850px) {
    main div.imagem-carro {
        background-size: auto;
    }
}

article.descricaoCarro {
    position: relative;
    border:5px solid var(--cor1);
}

article.descricaoCarro > p {
    text-align: justify;
    padding: 0 15px 35px 15px;
}


article.descricaoCarro > h1 {
    font-size: 1.7em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    padding-top: 25px;
    padding-bottom: 45px;
}

article.descricaoCarro > h1::before {
    position: absolute;
    margin-top: -20px;
    margin-left: -80px;
}

section#lamborghini { display: none; }
section#mercedes { display: none; }
section#astonMartin { display: none; }
section#mcLaren { display: none; }
section#koenigsegg { display: none; }
section#pagani { display: none; }
section#bugatti { display: none; }
section#ferrari { display: none; }
section#bentley { display: none; }
section#rollsRoyce { display: none; }

footer {
    font-size: 0.9em;
    color: white;
    background-color: black;
}

footer > div {
    padding: 10px;
}

div#esquerda {
    float: left;
    width: 60%;
}

span#nome, div#direita a {
    font-weight: bold;
    font-style: italic;
}

div#direita {
    float: right;
    width: 40%;
}

div#direita a {
    color: var(--cor3);
    text-decoration: none;
}